@import url('https://fonts.googleapis.com/css?family=Gorditas:700|Nunito&display=swap');

/*
font-family: 'Nunito', sans-serif;
font-family: 'Gorditas', cursive;*/

/* -----------body design------------- */

body {
    background-color: #87cefa;
}


.body-design {
    background-color: #fffafa;
    border-radius: 10px;
}

h5 {
    font-weight: bold;
}


/* ------Navbar------*/

.navbar {
    padding-top: 0;
    padding-right: 1px;
    width: 100vw;
    float: right;
}


.navbarbuttonproperties {
    background-color: #fffafa;
    border-radius: 10px;
}

.navbarlistproperties {
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    white-space: normal;
    padding-top: 20px;
    background-color: transparent;
}

.navbarlistproperties ul li {
    z-index: 9;
}

.nav-link-button {
    text-decoration: none;
}

a:-webkit-any-link {
    text-decoration: none;
}


/* -----------Header------------- */

.title-container-fix {
    border-radius: 10px;
    margin-top: 15px;
    text-align: center;
    padding-top: 10px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px grey;
}

.main-title {
    text-shadow: 2px 2px 3px grey;
    font-family: 'Gorditas', cursive;
}

.harlowessex {
    text-shadow: 1px 1px 3px grey;
    font-family: 'Gorditas', cursive;
}


/* -----------MenuButtons------------- */

.menu-button {
    margin: 10px 10px 60px 10px;
    height: 80px;
    width: 80px;
    border: 3px solid #333333;
    border-radius: 10px;
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
    background-color: #007bff;
    text-decoration: none;
    cursor: pointer;

}

.menu-button:hover {
    opacity: 1.0;
    color: white;
}

.menu-button i {
    padding-top: 15px;
    font-size: 45px;
    color: white;

}

.button-text {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
    color: black;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

/* -----------Content sections------------- */

.section-content {
    padding: 20px 20px 20px 20px;
    margin-top: 15px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px grey;
    font-family: 'Nunito', sans-serif;

}

.subtitle-font {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1.75rem;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.content-text {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

#birthdayimg {
    position: relative;
    text-align: center;
    max-width: 300px;
    border: 3px solid grey;
    box-shadow: 5px 5px 5px grey;
}

#birthday-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 25px;
    width: 250px;
    font-family: 'Nunito', sans-serif;
    text-shadow: 2px 2px 3px grey;
}



/* -----------Images------------- */

#imgreindeer {
    height: auto;
    width: 320px;
    float: left;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.homeimages {
    border-radius: 10px;
}

.imgemily {
    height: 150px;
    width: 180px;
    float: left;
    border-radius: 10px;
    margin: 10px;
}

.harlowlogo {
    padding-top: 10px;
    max-height: 100px;
}

.imgevents {
    width: 250px;
    border-radius: 10px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #333333;
    box-shadow: 5px 5px 5px grey;
}

.map {
    height: 500px;
    width: 725px;
    border-radius: 10px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#volunteers {
    max-height: 300px;
    border-radius: 10px;
    margin-left: 10px;
    float: right;
}

#imggoatface {
    max-height: 400px;
    border-radius: 10px;
    display: inline-block;
}

.piglets {
    max-height: 200px;
    border-radius: 10px;
    margin: 10px;
    float: left;
}

#party {
    height: 300px;
    width: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    float: right;
    margin-left: 20px;
    overflow: auto;

}

#img-owl {
    height: 300px;
    width: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

#snow-deer {
    max-height: 450px;
    width: 100%;
    border-radius: 10px;
    margin-top: 15px
}

#imgschool {
    max-height: 200px;
    width: auto;
    border-radius: 10px;
    margin-top: 15px
}

#opentimesimg {
    max-height: 450px;
    width: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
}




/* -----------Image slider------------- */

.fling-minislide {
    width: 100%;
    height: 200px;
    padding-bottom: 40%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.fling-minislide img {
    position: absolute;
    animation: fling-minislide 20s infinite;
    opacity: 0;
    width: 100%;
    height: auto;
}


@keyframes fling-minislide {
    25% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
}

.fling-minislide img:nth-child(4) {
    animation-delay: 0s;
}

.fling-minislide img:nth-child(3) {
    animation-delay: 5s;
}

.fling-minislide img:nth-child(2) {
    animation-delay: 10s;
}

.fling-minislide img:nth-child(1) {
    animation-delay: 15s;
}

/* ----------------------------------------Footer */

footer {
    padding: 10px 0px 5px 0px;
    margin-top: 15px;
    position: absolute;
    background-color: #D7D7D7;
    border-radius: 10px 10px 0px 0px;
}

.footertext {
    font-size: 15px;
    font-family: 'Nunito', sans-serif;

}

.footertexttitle {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.social-links {
    padding-left: 0;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0px 5px 0px;
    border-radius: 50%;
    font-size: 17px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #007bff;
}

.copyrightlogo {
    font-size: 15px;
    color: #6E6E6E;

}

.copyrightlogo p {
    color: #6E6E6E;
    font-family: 'Nunito', sans-serif;
    display: inline;

}

/*------------contact------------*/

.form-container {
    max-width: 100%;
    padding: 10px;
    background-color: #fffafa;
    border-radius: 10px;
}

.form-container input[type=text],
.form-container input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}


.form-container input[type=text]:focus,
.form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container input[type=email]:focus,
.form-container input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

#msg {
    width: 100%;
    height: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

#msg:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 200px;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}


/* ----------------------------------------Media */

@media (max-width: 992px) {
    .menu-button {
        display: none;
    }
    .content-text {
        font-size: 15px;
    }

    #birthdayimg {
        border: 1px solid grey;
        margin-bottom: 20px;
        max-width: 100%;
        height: 400px;
    }

    .subtitle-font {
        font-size: 20px;
    }
    .harlowlogo {
        display: none;
    }
    .title-container-fix,
    .section-content {
        width: 90vw;
    }
    .form-container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    #img-owl {
        max-width: 300px;
        height: auto;
    }

}


@media (max-width: 763px) {
    .harlowlogo {
        display: none;
    }
    .volunteers,
    .piglets {
        max-width: 230px;
    }
    .imgevents {
        max-width: 230px;
    }
    .school-img-padding {
        margin-bottom: 10px !important
    }
    #birthday-text {
        font-size: 15px;
    }


    #party,
    #imgschool,
    #opentimesimg,
    #imgreindeer,
    #imggoatface {
        max-width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }
    #volunteers,
    #img-owl {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    .form-container .btn {
        width: 100%;
    }
    .main-title {
        padding-top: 5px;
        font-size: 23px
    }

    .harlowessex {
        display: none;
    }

    .fling-minislide {
        height: 400px;
    }

    .fling-minislide img {
        height: 400px;
        width: auto;
        position: absolute;
        left: 45%;
        top: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
    }
}

@media (min-width: 763px) {
    #buttoncentered {
        display: inline-block;
    }
}


@media (min-width: 992px) {
    .navbar-expand-lg {
        display: none;
    }
    h1 {
        font-size: 65px;
    }
}

@media (min-width: 1200px) {
    #imggoatface {
        margin-top: 70px;
    }
    #opentimesimg {
        margin-top: 0px;
    }
}

    @media only screen and (max-width: 1300px) and (min-width: 993px) {
        #opentimesimg {
            max-width: 350px;
        }
        #imgreindeer {
            float: inherit;
        }
    }

    @media (max-width: 400px) {
        .main-title {
            padding-top: 5px;
            font-size: 20px
        }
    }
