@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Indie+Flower&display=swap" rel="stylesheet');

/* font-family: 'Indie Flower', cursive;
font-family: 'Fredoka One', cursive; */

/* ------Bootstrap amendments------*/

/* -----------Header------------- */

.title-fix {
    font-family: 'Fredoka One', cursive;
    padding: 0;
}



/* -----------subtitlehome------------- */

.sectionhome {
    padding-top: 20px;
    margin-top: 30px;
}

.subtitlefont {
    font-family: 'Indie Flower', cursive;
}

/* -----------body design------------- */

body {
    background-color: #87cefa
}


.bodydesign {
    background-color: #fffafa;
    padding: 20px;
}


/* ----------------------------------------Footer */

footer {
    padding-top: 20px;
    margin-top: 30px;
    background-color: #fffafa;
    padding: 20px;
    font-family: ;
}

.social-links {
    padding-bottom: 15px;
}


.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}



/* ----------------------------------------Media */
